/************************************
	LAYOUT MOBILE
*************************************/

@media (max-width : 768px){
	#product-description{
	    border-bottom: 1px solid #ddd;
		margin-top:30px;
	    overflow: hidden;
	    padding-bottom: 30px;

		> div{
			margin-top:30px;
			padding:0;

			&:first-child{
				margin-top:0;
			}

			img{
				max-width:500px;
				width:100%;
			}
		}
	}
}



